p {
  background-color: aqua;
  margin-bottom: 0px;
  width: fit-content;
  border: 10px;
}

.web {
  font-size: 18px;
  margin-top: 0px;
}

.here {
  font-size: 15px;
  margin-top: 0px;
}

.chp {
  
  color: hsla(240, 100%, 50%, 0.884);
}
